:root {
    --primary-bg-color: #11295C;
    --secondary-bg-color: #173e94;
}
* {
    margin: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
#home-page {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.header {
    display: inherit;

    gap: 1rem;

    justify-content: center;
    align-items: center;

    background-color: var(--primary-bg-color);

    height: 10vh;
    width: 100vw;
}

.header__section {
    display: inherit;

    justify-content: center;
    align-items: center;

    height: 80%;
    width: 13%;
}

.header__section:hover {
    cursor: pointer;

    border: 1px transparent white;
    border-radius: 3rem;
    
    background-color: var(--secondary-bg-color);

    transition: 2s background-color;
}

.content {
    display: inherit;

    height: 80vh;
    width: 100vw;

    overflow-y: scroll;
    
    
    .content__section {
        display: inherit;
        
        gap: 2rem;
        
        justify-content: center;
        align-items: center;
        
        height: 80vh;
        width: 100%;
    }
    
}

.content__section__photo {
    display: inherit;

    border: 1px transparent white;
    border-radius: 100%;

    height: 30%;
    width: 18%;
}

.content__section__info {
    display: inherit;

    gap: 2rem;

    justify-content: center;

    height: 100%;
    width: 70%;
}

.content__section__title {
    display: inherit;
    
    width: 50%;
}

.content__section__item {
    display: inherit;

    height: 15%;
    width: 100%;
}

.content__section__item__icon {
    display: inherit;

    justify-content: center;

    height: 100%;
    width: 23.5%;
}

.content__section__item__text {
    display: inherit;

    align-items: center;
    margin-left: 2rem;

    width: 68.5%;
}

.rounded-image {
    border: 1px transparent; border-radius: 100%;
}


.footer {
    display: inherit;
    flex-direction: row;

    justify-content: center;
    background-color: var(--primary-bg-color);

    height: 10vh;
    width: 100vw;
}

.footer__section {
    display: inherit;

    justify-content: center;
    align-items: center;

    height: 100%;
}

.rubik-marker-hatch-regular {
    color: white;
    font-family: "Rubik Marker Hatch", system-ui;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px black;

}

.normal-font {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
}

.content__section__big__item {
    display: inherit;

    padding-top: 20%;
    padding-bottom: 20%;

    height: 30%;
    width: 100%;
}


.clickable:hover {
    cursor: pointer;
}